@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;800&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Akatab', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #141414;
    color: white;
    font-family: var(--font2);
}

header {
    background-image: url(./imagens/Dayron\ Tinoco\ Rocha.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.blocos {
    padding-top: 45vh;
    padding-bottom: 45vh;
}

#apresentacao {
    padding-left: 10%;
    font-weight: 900;
}

#nome {
    font-size: 5.5em;
    line-height: 80px;
}

#funcao {
    font-size: 1.8em;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.408);
}

#conteudo {
    text-align: center;
    font-size: 2em;
    line-height: 50px;
}

#apresentacao2 {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    height: 90vw;
    justify-content: space-around;

}

#texto {
    margin-bottom: 60px;
    text-align: justify;
    width: 500px;
}

aside h3 {
    font-size: 1.75em;
    font-weight: bolder;
}

aside input {
    border-radius: 15px;
    padding: 0px 10px;
    font-weight: 500;
}

#eu {
    min-width: 100px;
}


#tecnologia {
    font-size: 2em;
}

#carouselExampleFade {
    padding-bottom: 30vh;
    padding-top: 30vh;
    margin: 0 auto;
    width: 450px;
}


ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

footer ul li {
    width: 60px;
}

@media(max-width: 1024px) {
    #eu {
        display: none;
    }

    #carouselExampleFade {
        width: 300px;
    }
}

@media(max-width: 900px) {
    #apresentacao {
        padding-left: 5%;
        font-weight: 900;
    }

    #texto {
        margin-bottom: 6px;
        text-align: justify;
        width: 500px;
    }

    #eu {
        display: none;
    }

    #carouselExampleFade {
        width: 200px;
    }
}